body{
  font-family: 'Allerta', sans-serif;
  margin: 0;
}
table{
  width:100%;
}
th{
  background-color: #ff491b;
  font-weight: bold;
}
td{
  background-color: rgba(0,0,0,0.6);
}
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}
ul{
  list-style-type: none;
}
.title-a{
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}
.summary{
  font-size: 24px;

}
.title-b{
  font-size: 35;
  font-family: 'Roboto', sans-serif;
}
.shadow{
  background-color: rgba(0,0,0,0.6);
}
.shadow a{
  text-decoration: none;
}
.shadow2{
  background:linear-gradient( 0deg,rgba(0, 0, 0,0.9),rgba(0, 0, 0,0.5));
  pading:10px;
  border-radius: 10px;
}
.cover-page{
  background-image: url("../images/highway.jpeg");
  color: white;
  width: auto;
  height: 800px;
  margin: auto;
}
.cover-page a{
  color: white;
}
.over-cover-text{
  padding-top: 200px;
  padding: 35px;
  margin: 50px;
}
.over-image-txt{

    margin: 76px;
    padding-top: 1px;
    padding-left: 21px;
    padding-bottom: 43px;

}

.button{
  border-radius: 5px;
  color: white;
  background-color: rgb(254, 116, 67);
  height: 24px;
  width: 95px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to left, #ff4d00,rgb(254, 116, 67));
}
.cover-page h3{
  padding-left: 70px;
}
.services{
  color: rgb(31,49,60);
  width: 600px;
  margin: auto;
  padding: 20px;
}
.services a{
  text-decoration: none;
}
.menu{
  font-size: 24px;
  display:inline-block;

}
.menu li{
  display:inline-block;
  margin-left: 20px;
}
.logotipo{
  display:inline-block;
}
.logo-size{
  height: auto;
  width: 40px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.services-images{
  width:200px;
  height:auto;
}
.footer{
  background-image: url("../images/highway_footer.jpeg");
  background-size:cover;
}
.footer2{
  /* background-image: url("../images/highway_footer.jpeg"); */
  background-size:cover;
  background: linear-gradient( 0deg,rgba(0, 0, 0,0.9),rgba(0, 0, 0,0.0));
}
.footer a,label{
  text-decoration: none;
  color: white;
}
.contact strong{
  display: block;
}
.contact{
  display: flex;
  justify-content: space-around;
}
.contact a{
  text-decoration: none;
}
.form{
  display: flex;
  justify-content: space-around;
}
footer div{
  margin: 10px;
}
.motivo{
  width: 155px;
  display: inline-table;
}
#footer-form{
  margin: 0px !important;
  border-radius: 0px;
}
.mensaje{
  margin-left: 30px;
}
.table div{
  color: white;
}
.menu li:before{
  content: '⨳';
  color: grey;
}
.table{
  height: 57%;
}
