/* Selectores descendentes */
/* article h3{
  background-color: green;
} */

/* *{
  border: 2px solid red;
  padding: 10px;
  margin: 10px;
} */
body{
  font-family: 'Allerta', sans-serif;
  margin: 0;

}
.title-a{
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}
.summary{
  font-size: 24px;

}
.title-b{
  font-size: 35;
  font-family: 'Roboto', sans-serif;
}
.shadow{
  background-color: rgba(0,0,0,0.6)
}
.shadow a{
  text-decoration: none;
}
.shadow2{
  background-color: rgba(0,0,0,0.5);
  pading:10px;
  border-radius: 10px;
}
.cover-page{
  background-image: url("../images/highway.jpeg");
  color: white;
  width: auto;
  height: 800px;
  margin: auto;
}
.cover-page a{
  color: white;
}
.over-cover-text{
  padding-top: 200px;
  padding: 35px;
  padding-left:167px;
  margin: 50px;
}
.over-image-txt{

    margin: 76px;
    padding-top: 1px;
    padding-left: 21px;
    padding-bottom: 43px;

}

button{
  border-radius: 5px;
  color: white;
  background-color: rgb(254, 116, 67);
  height: 24px;
  width: 95px;
  border: none;
  /* padding:  */
}
.cover-page h3{
  padding-left: 70px;
  bo
}
.services{
  color: rgb(31,49,60);
  width: 600px;
  margin: auto;
  padding: 20px;
}
.menu{
  font-size: 24px;
  display:inline-block;

}
.menu li{
  display:inline-block;
  margin-left: 20px;
}
.logotipo{
  display:inline-block;
}
.logo-size{
  height: auto;
  width: 40px;
}
.left{
  float: left;
}
.right{
  float: right;
}
ul{
  list-style-type: none;
}
.services-images{
  width:200px;
  height:auto;
}
.footer{

  background-image: url("../images/highway_footer.jpeg")
}
.footer a,label{
  text-decoration: none;
  color: white;

}
.contact strong{
  display: block;
}
.mensaje input{
  border-radius: 5px;
  color: white;
  background-color: rgb(254, 116, 67);
  height: 24px;
  width: 95px;
  border: none;
}
